.dashboard-container {
  padding-bottom: 50px;
}

.dashboard-row {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  gap: 30px;
  margin: 0 30px 40px 290px;
  transition: var(--transition-main);
}

@media (max-width: 1400px) {
  .dashboard-row {
    grid-template-columns: 1fr;
    margin-right: 15px;
  }
}

@media (max-width: 1024px) {
  .dashboard-row {
    margin-left: 100px;
  }
}

@media (max-width: 768px) {
  .dashboard-row {
    margin: 0 15px 30px 15px;
    gap: 20px;
  }
}
