@import url('https://api.fontshare.com/v2/css?f[]=general-sans@400,500,600,700&display=swap');

body {
  font-family: 'General Sans', sans-serif;
  margin: 0;
  background-color: #010422;
  color: white;

}

code {
  font-family: 'General Sans', sans-serif;
}
